@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./assets/Fonts/proxima_ssv/ProximaNova-Regular.otf) format('opentype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Proxima Nova','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


