blockquote {
    color: #525252;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: rgb(100, 98, 98);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  .statementbody{
    width:932x; 
    /* font-size:16px;  */
    font-style:italic; 
    color:#525252; 
    font-family:Georgia, "Times New Roman", Times, serif; 
    line-height:25px; 
}


#phototips li, p{
  padding-bottom: 15px;
}


li, p{
  color: #818181;
  font-family: Proxima Nova, sans-serif; 
  /* font-size:1.2em;  */
  text-align:justify; 
  line-height:1.25em; 
}

p a {
  color: #818181;
}

/* .theArtist li{
  list-style-type:initial;
}
.theArtist >ul >li >ul li {
  list-style-type:circle;
} */