.visitedcountries{
    color: #64b60d;
    font-weight: bolder;
    background-color: #f1f1f1;
    display:block;
    text-align: left;
    padding: 11px




}

#travelList, #cityliststyle {
    list-style-type: none;
}

li.visitedcities, p.visitedcities{

    text-align: left 

    
}

