h1{
	color: #64b60d;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05em;
    padding: 0px 0px 4px 0px;
    font-weight: normal;
    font-size: calc(1rem + 1.5vw);;
}


h2{
	color: #27ace1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05em;
    /* padding: 0px 0px 4px 0px; */
    font-weight: normal;
    font-size: calc(0.8rem + 1.3vw);;
}


h4{
    font-weight: bold;
    color: #818181;
    line-height: 20px;
}



.container {
    /* padding: 20px 0px 20px 0px */
}

