.footer{
    position: absolute;
    bottom: 0;
    width: 100%

}


#subfooter{
    background-color: black;
    color: blanchedalmond;
    padding: 15px
}

#subfooterCo{
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}

#subcopyright{
    font-size: 12px;
    
}

footer ul {
    padding-left: 0px;
}

footer li {
    list-style-type: none;
    margin-left: 0px
}

footer a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}


.footerLinks{
    padding: 0px;
}



#socialposition{
    position: relative;
    bottom: 8px;
    
}

#footertoppad{
    padding-top: 5px;
    padding-bottom: 5px
}


.subscriptions {
    padding: 15px 25px;
}


.fa-phone{
    transform: rotate(100deg);
}


.footerLists h5{
    color: #057cd0
}

.addressCardFormat, .footerLists span{
    font-size: 0.8rem;
}

.subscriptionAlert{
    display: none;    
}

.form-floating > .form-control{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}