.gridpadding{
    padding: 5px 20px 5px 20px;
}

.card-img-overlay:hover{
 background-color: rgba(0,0,0,0.5);
 transition: 0.7s


}

.card-img-overlay:hover .card-title{
    background-color: rgba(0,0,0,0);
    transition: 0.7s
   
   
   }

.card-title{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 0px;
    padding: 10px 15px 10px 10px;
    color: ivory;
    font-weight: bolder;

}


div.col:last-child .card-title{
    background-color: inherit;
    margin-bottom: 0px;
    padding: 10px 15px 10px 10px;
    color: ivory;
    font-weight: bolder;

}