.gridpadding{
    padding: 5px 20px 5px 20px;
}

.homegrid .card-img-overlay:hover{
 background-color: rgba(0,0,0,0.5);
 transition: 0.7s


}

.homegrid .card-img-overlay:hover .card-title{
    background-color: rgba(0,0,0,0);
    transition: 0.7s
   
   
   }

.homegrid .card-title{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 0px;
    padding: 10px 15px 10px 10px;
    color: ivory;

}



div.col:last-child .homegrid .card-title{
    background-color: inherit;
    margin-bottom: 0px;
    padding: 10px 15px 10px 10px;
    color: ivory;
    font-weight: bolder;

}

.homegrid h5{
    font-size: 1.5vw;
}

@media (max-width: 768px){
    .homegrid h5{
        font-size: 2.3vw;
    }
}