.fa-shopping-bag{
    position: relative;
    /* color: #27ace1; */
}

.shopingBagwItems{
    color: #27ace1;
}

.basktItems{
    position: absolute;
    right: -0.6rem;
    top: -0.4rem;
    font-size: 0.7rem;
    color: #27ace1;
}