#navBarContainer{
/* padding: 15px */
}

.navbarBranding{
    /* padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem; */
    font-size: 1.25rem;
    /* text-decoration: none;*/
     white-space: nowrap; 
}
.navRow{
    /* margin: 10px 10px 0px 10px */
}

.menuItems{
    position: relative;

}

ul.menuList {
    position: absolute;
    bottom:0px;
    left: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav.container{
    padding: 0px;
}



.navDropDowns{
    /* position: fixed;
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.3s;
    left:0 */
 
}

.subMenuWrapper{
    position: fixed;
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    overflow-x:auto;
    transition: 0.3s;
    left:0
}

.subMenuOverlay{
    position: relative;
    width: 100%;
    padding: 10px 35px 10px 35px

}
  

.sub-menu{
    position: absolute;
    display: block;
    /* top:50%; */
    padding-left: 2rem;
    margin: 150px 150px 0px 150px;
}

.sub-menu li {

    text-align: left;
    list-style-type: none;
    padding: 10px;
    font-size: 3em;
}

.sub-menu li:hover{
    color: #27ace1;
}

#closebtn{
    font-size: 3.9em;
    cursor: pointer;
}

.submenuHeader{
    list-style-type: none;
    padding: 0px;

}

.submenuHeader li{
    position: absolute;

}

#closebtn:hover{
    color: #6cba1a;

}

#logoSubMenu{
    left: 50%;
}










/* New Menu CSS */


.navOverlay{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 1);
    overflow-y: scroll;
    /* padding-left: .5em; */
    transition: 0.5s;
}

.navOverlayHeader li {
    position: absolute;
    cursor: pointer;
    display: inline-block;
}

.navOverlay ul{
    list-style-type: none;
}



.navOverlay > div {
    margin-bottom: 15px;
    padding-bottom: 85px;
    
}

.navOverlayContent{
    padding: 25px 0px;
}


#closeButton{
    left: 20px;
    font-size: 30px;
}

#closeButton:hover{
    color: #6cba1a;


}

#subMenuLogo{
    left: 50%;
    margin-left: -50px
}

#subMenuLogo img{
    height: 50px;
    width: 50px;
}

.fullMenuList > div{
    padding: 10px 0px 10px 25px;
    font-size:1.2em;
    color: #818181;
    user-select: none;
    cursor: pointer;
}
.fullMenuList > div:hover{
    color: #6cba1a;
  
}

.fullMenuList ul{
    padding: 0.2rem 1rem;
}
.fullMenuList div li {
    font-size:0.9em;
    padding: 0.03em 0em;

}

.fullMenuList div li:hover {
    color: #27ace1;

}

.plusSign{
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.menuList{
    position: relative;
    /* margin: auto 10px 0px; */
}

.menuList > ul{
    margin: auto 10px 0px;
    /* vertical-align: bottom; */
    position: absolute;
    bottom: 0px;
    height: 63px;
    white-space: nowrap


}

.menuList li{
    display: inline-block;
    margin: 30px 30px 0px 30px;
    cursor: pointer;
    user-select: none;
    padding: 10px 10px 0px 20px;
    position: relative;    
}


@keyframes fadeMe {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }

  .navbarBranding #logoSymbolOnly{
      display: none;
  }
  .navbarBranding #logoFull{
      display: block;
  }
  #fullMenuList{
    visibility: visible;
}

  @media only screen and (max-width: 745px) {
      .navbarBranding #logoSymbolOnly{
          display: block;
      } 
      .navbarBranding #logoFull{
          display: none; 
      }
      #fullMenuList{
          visibility: hidden;
      }
  }

.diamond {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 12px solid black;
    position: relative;
    top: -10px;
    display: block;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 12px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 12px solid black;
}


/* .diamond-position{
    position: relative;
} */
.diamond-position{
    position: absolute;
    top:30px;
    right:10%
    /* z-index: -5; */
}

.mainNavOverlay{
    display: block;
    height: 350px;
    width: 445px;
    position: absolute;
    z-index: 1;
    top: 81px;
    left: 130px;
    background-color: rgba(0,0,0, 1);
    overflow-y: hidden;
    /* padding-left: .5em; */
    transition: 0.5s;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;;
}


.displayBlockStyle{
    display: block;
}

.displayNoneStyle{
    display: none;
}



.mainNavOverlay ul {
    padding: 0px;
    margin: 20px 0px;


   
}

.mainNavOverlay li{
    display: block; 
    color: white;
    margin: 0px 15px;
    padding: 20px 10px 0px 20px;
    font-size: 1.3em;
    transition: transform .2s;
}

.mainNavOverlay li:hover{
    color: #6cba1a;
    transform: scale(1.05);


}