.galleryCollection .card-img-overlay:hover{
        background-color: rgba(0,0,0,0.5);
        
}

.gallerygrid .card-img-overlay:hover .card-title{
        color: #64b60d;
        
        
}

.galleryCollection .card-title{
        color: white;
        font-size: 33px;
        line-height: 31px;
}

.galleryCollection .card-img-overlay{
        padding: 0px;
}